<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<p><%= @current_user.first_name %> <%= link_to 'Sign out', session_user_path(@current_user.id), method: :delete %></p>
<p><%= @current_organization.name %> <%= link_to 'Logout', session_organization_path(@current_organization.id), method: :delete %></p>
<p><%= link_to 'products', products_path %></p>
