<div class="container h-100">
  <p id="notice"><%= notice %></p>
  <% @organizations.each do |organization| %>
    <div class="card shadow-sm" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= organization.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= organization.uid %></h6>
        <%= link_to 'Show', session_organizations_path(organization: { id: organization.id }), method: :post, class: 'card-link' %>
        <%= link_to 'Edit', edit_organization_path(organization), class: 'card-link' %>
        <%= link_to 'Destroy', organization, method: :delete,  class: 'card-link', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
