<div class="container h-100">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= product.organization.name %></h6>
            <p class="card-text"><%= product.repository.full_name %></p>
            <%= link_to 'Show', product, class: 'card-link' %>
            <%= link_to 'Update', product_path(product), method: :put, class: 'card-link' %>
            <%= link_to 'Destroy', product, method: :delete,  class: 'card-link', data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
