<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @product.organization.name %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @product.repository.full_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<div>
  <strong>Milestones:</strong><br>
  <% @product.repository.milestones.each do |milestone| %>
    <%= milestone.title %>
  <% end %>
</div>

<div>
  <strong>Projects:</strong><br>
  <% @product.repository.projects.each do |project| %>
    <%= project.name %>
    <div class="row">
      <% project.project_columns.each do |columns| %>
        <div class="col s2">
          <%= columns.name %>
          <% columns.project_cards.each do |card| %>
            <% if card.note.present? %>
              <div class="card-panel">
                <span class="silver-text"><%= card.note %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



<td><%= link_to 'Update', product_path(@product), method: :put %></td> |
<%= link_to 'Back', products_path %>