<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @product.organization.name %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @product.repository.full_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<div>
  <strong>Milestones:</strong><br>
  <% @product.repository.milestones.each do |milestone| %>
    <%= milestone.title %>
    <ul>
      <% milestone.issues.each do |issue| %>
        <li><%= issue.title %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <strong>Projects:</strong><br>
  <% @product.repository.projects.each do |project| %>
    <%= project.name %>
    <ul>
      <% project.project_columns.each do |columns| %>
        <li>
          <ul>
            <%= columns.name %>
            <% columns.project_cards.each do |card| %>
              <% if card.note.present? %>
                <li><%= card.note %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>



<td><%= link_to 'Update', product_path(@product), method: :put %></td> |
<%= link_to 'Back', products_path %>