<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @product.organization.name %>
  <strong>Repository:</strong>
  <%= @product.repository.full_name %>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<div class="container">

  <div class="row">
    <div class="jumbotron">
      <strong>Milestones:</strong><br>
      <% @product.repository.milestones.each do |milestone| %>
        <%= milestone.title %>
      <% end %>
    </div>
  </div>
</div>
<div class="container products-inline-group-x h-100">
  <% @product.repository.projects.each do |project| %>
    <%= project.name %>
    <div class="row flex-nowrap h-100">
      <% project.project_columns.each do |columns| %>
        <div class="col-sm-4">
          <div class="container products-inline-group-y" style="height: 90%;">
            <%= columns.name %>
            <div class="flex-nowrap">
              <% columns.project_cards.each do |card| %>
                <% if card.note.present? %>
                  <div class="card">
                    <span class="card-body"><%= card.note %></span>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



<td><%= link_to 'Update', product_path(@product), method: :put %></td> |
<%= link_to 'Back', products_path %>